body {
    margin-left: 25px;
    background-color: #15223B;
    
}
h1{
    color:white;
    font-weight: bold;
}
h2{
    color: #0BB006;
     font-weight: bold;
    
}
p{
    color:white;
}
#btn1{
   background-color:#0BB006;
   color:white;
   padding:10px;
   border-radius:10px;
   margin-bottom:25px;    
}
#pass1{
    background-color:#15223B;
    color:#0BB006;
    padding:5px;
    margin-bottom:15px;  
}
#pass2{
    background-color:#15223B;
    color:#0BB006;
     padding:5px;
     
}